
#root{
  height: 100%;
  width: 100%;

}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

body,html{
 
  height: 100%;
  width: 100%;
}


video{
  object-fit: fill;
  position: relative;
  z-index: 0;
}

#video{
  border-radius: 5px;
}

.fas{
  font-size: 40px;
  margin-top: 30px;
  cursor: pointer;
}

#myCanvas{
  top: 24.5%;
  position: absolute;
  z-index: 5;
}

.emoji{
  font-size: 40px;
}